body {
    background-color: #2C3E50;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #34495E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    border-left: 4px solid yellow;
}

.card img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.card-content p {
    color: #ECF0F1;
    font-size: 14px;
    line-height: 1.6;
}
